In [1]:
import waterman_acquire as a

In [2]:
df = a.acquire_superstore()

In [3]:
df.head()

,order_id,order_date,ship_date,ship_mode,customer_id,segment,city,state,postal_code,sales,quantity,discount,profit,category,sub_category,product_name,region_name
0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,Henderson,Kentucky,42420,261.9600,2.0,0.00,41.9136,Furniture,Bookcases,Bush Somerset Collection Bookcase,South
1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,Henderson,Kentucky,42420,731.9400,3.0,0.00,219.5820,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",South
2,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Corporate,Los Angeles,California,90036,14.6200,2.0,0.00,6.8714,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,West
3,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,Fort Lauderdale,Florida,33311,957.5775,5.0,0.45,-383.0310,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,South
4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,Fort Lauderdale,Florida,33311,22.3680,2.0,0.20,2.5164,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,South

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1734 entries, 0 to 1733
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      1734 non-null   object
 1   order_date    1734 non-null   datetime64[ns]
 2   ship_date     1734 non-null   datetime64[ns]
 3   ship_mode     1734 non-null   object
 4   customer_id   1734 non-null   object
 5   segment       1734 non-null   object
 6   city          1734 non-null   object
 7   state         1734 non-null   object
 8   postal_code   1734 non-null   object
 9   sales         1734 non-null   float64
 10  quantity      1734 non-null   float64
 11  discount      1734 non-null   float64
 12  profit        1734 non-null   float64
 13  category      1734 non-null   object
 14  sub_category  1734 non-null   object
 15  product_name  1734 non-null   object
 16  region_name   1734 non-null   object
dtypes: datetime64[ns](2), float64(4), object(11)
memory usage: 230.4+ KB