In [1]:
import waterman_acquire as a

In [2]:
df = a.acquire_superstore()

In [4]:
df.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Segment,Country,City,State,Postal Code,...,Sales,Quantity,Discount,Profit,Category ID,Region ID,Sub-Category,Customer Name,Product Name,Region Name
0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,42420.0,...,261.9600,2.0,0.00,41.9136,1,1,Bookcases,Claire Gute,Bush Somerset Collection Bookcase,South
1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,42420.0,...,731.9400,3.0,0.00,219.5820,2,1,Chairs,Claire Gute,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",South
2,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Corporate,United States,Los Angeles,California,90036.0,...,14.6200,2.0,0.00,6.8714,3,2,Labels,Darrin Van Huff,Self-Adhesive Address Labels for Typewriters b...,West
3,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,33311.0,...,957.5775,5.0,0.45,-383.0310,4,1,Tables,Sean O'Donnell,Bretford CR4500 Series Slim Rectangular Table,South
4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,33311.0,...,22.3680,2.0,0.20,2.5164,5,1,Storage,Sean O'Donnell,Eldon Fold 'N Roll Cart System,South

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1734 entries, 0 to 1733
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       1734 non-null   object
 1   Order Date     1734 non-null   object
 2   Ship Date      1734 non-null   object
 3   Ship Mode      1734 non-null   object
 4   Customer ID    1734 non-null   object
 5   Segment        1734 non-null   object
 6   Country        1734 non-null   object
 7   City           1734 non-null   object
 8   State          1734 non-null   object
 9   Postal Code    1734 non-null   float64
 10  Product ID     1734 non-null   object
 11  Sales          1734 non-null   float64
 12  Quantity       1734 non-null   float64
 13  Discount       1734 non-null   float64
 14  Profit         1734 non-null   float64
 15  Category ID    1734 non-null   int64
 16  Region ID      1734 non-null   int64
 17  Sub-Category   1734 non-null   object
 18  Customer Name  1734 non-null   object
 19  Product Name   1734 non-null   object
 20  Region Name    1734 non-null   object
dtypes: float64(5), int64(2), object(14)
memory usage: 284.6+ KB